# Auto detect text files and perform LF normalization
* text=auto
*.rda filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xls filter=lfs diff=lfs merge=lfs -text
pipeline/1_data/Sorghum/SAP_265kSNP_imputed_num.txt filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
